<div class="container">
  <h1>Card App</h1>

  <!-- Creation/Update form -->
  <form (ngSubmit)="onSubmit()">
    <input
      type="text"
      placeholder="Title"
      [(ngModel)]="cardForm.title"
      name="title"
      required
    />
    <textarea
      placeholder="Content"
      [(ngModel)]="cardForm.content"
      name="content"
      required
    ></textarea>
    <button type="submit">{{ editing ? "Update" : "Add" }} Card</button>
  </form>

  <!-- In Memory Cards list -->
  <h2>Cards in Local Memory</h2>
  <div class="cards">
    <app-card
      *ngFor="let card of inMemoryCards"
      [title]="card.title"
      (select)="onSelectCard(card, 'memory')"
      (remove)="onRemoveCard(card, 'memory')"
    >
      <p>{{ card.content }}</p>
    </app-card>
  </div>
</div>
